<ion-view view-title="Home" hide-back-button="true">
  <ion-content>
    <div class="list">
      <a href="#/info" class="item item-icon-left">
        <i class="icon ion-document-text"></i> Ver Info
      </a>
      <a href="#/people" class="item item-icon-left">
        <i class="icon ion-person-stalker"></i> Ver gente interesante
      </a>
      <a href="#/cats" class="item item-icon-left">
        <i class="icon ion-social-octocat"></i> Ver gatos
      </a>
      <a href="#/famous" class="item item-icon-left">
        <i class="icon ion-person-stalker"></i> Ver gente famosa
      </a>
    </div>
    <ion-content>
</ion-view>
